<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Regression Chart Creator</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles/style.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="leastSqr.js"></script>
  </head>
  <body>
    <h1>Least Squares Regression Calculator</h1>
    <div ng-app="app" ng-controller="appCtrl">

      <form name="inputForm" ng-submit="addPoint()">
        <span>X-value:  </span><input type="number" name="xVal" ng-model="x_val" />
        <span>Y-value:  </span><input type="number" name="yVal" ng-model="y_val" />
        <button type="submit">Submit</button>
      </form>

      <div ng-repeat="i in xVals">
        ( {{i}} , {{yVals[$index]}} )
      </div>

      <form name="regress" ng-submit="calcRegress()">
        <span>type: </span>
        <select name="cars">
          <option value="0" ng-model="ftype">Polynomial</option>
          <option value="1" ng-model="ftype">Exponential</option>
          <option value="2" ng-model="ftype">Trigonometric</option>
          <option value="3" ng-model="ftype">Logarithmic</option>
        </select>
        <span>order: </span><input type="number" ng-model="order" />
        <button type="submit" ng-click="hasCalc=!hasCalc">Calculate</button>
      </form>

      <span ng-show="hasCalc"><strong>y = </strong></span>
      <span ng-repeat="c in solution">
        {{c[0]}}<strong> x</strong><sup>{{$index}}</sup><span ng-if="$index!==order-1"> + </span>
      </span>

    </div>
  </body>
</html>
